{% extends 'base.html' %}
{% block title %} NOT FOUND {% endblock %}
{% block page_name %} NOT FOUND {% endblock %}
{% block navbar %}{% endblock %}
{% block utils %}{% endblock %}

{% block content %}
<div class="px-5 py-10 space-y-4 font-mono lg:text-4xl text-lg mx-auto w-full text-center">
    <div>
        SORRY, THE RESOURCE YOU ARE TRYING TO ACCESS <BR>
        IS CURRENTLY UNAVAILABLE, OR DOES NOT EXIST.
    </div>
    <div>
        <a href="{% url 'core:home' %}" class="p-4 bg-cyan-500 text-white border-white border rounded-2xl text-sm lg:text-xl font-mono font-thin">
            go back home
        </a>
    </div>
</div>
{% endblock %}