{% extends 'base.html' %}
{% block title %} SERVER ERROR {% endblock %}
{% block page_name %} SERVER ERROR {% endblock %}
{% block navbar %}{% endblock %}
{% block utils %}{% endblock %}

{% block content %}
<div class="px-5 py-10 space-y-4 font-mono lg:text-4xl text-lg mx-auto w-full text-center">
    <div>
        SORRY, OUR SERVERS CANNOT HANDLE YOUR REQUEST AT THE MOMENT <BR>
        PLEASE TRY AGAIN LATER.
    </div>
    <a href="{% url 'core:home' %}" class="p-4 bg-cyan-500 text-white border-white border rounded-2xl text-sm lg:text-xl font-mono font-thin">
        go back home
    </a>
</div>
{% endblock %}