{% extends 'base.html' %}
{% block title %}SETTINGS{% endblock %}
{% block page_name %} ACCOUNT RECOVERY {% endblock %}
{% block utils %}{% endblock %}
{% block content %}
    {% block navbar %}{% endblock %}
    <div class="py-6">
    <div class="mx-auto lg:w-2/3 font-mono rounded-4xl border-2 border-white">
    <form method="post" action="." class="w-full text-lg lg:text-xl my-auto p-4">
        {% csrf_token %}
            <div class="py-2 mx-auto flex mb-3 w-full">
                <label class="w-1/3 font-bold ml-3 text-left p-2">email: </label>
                <div class="py-1 flex w-full pr-3">{{ form.email }}</div>
            </div>

            {% if form.errors or form.non_field_errors %}
            <div class="p-4">
                <div class="bg-red-700 p-1 border-white rounded-2xl text-white">
                    <ul>
                    {% for field in form%}
                        <li>
                            {{ field.errors }}
                        </li>
                    {% endfor %}
                    {{ form.non_field_errors }}
                    </ul>
                </div>
            </div>
            {% endif %}

            <button class="rounded-2xl border border-black text-lg lg:text-xl mx-auto flex p-2 bg-slate-500 hover:bg-slate-800 text-white font-mono" method="post"> ENTER </button>
        </form>
    </div>
    </div>
{% endblock %}