
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href= "{% static 'dist/output.css' %}" type="text/css" rel="stylesheet"/>
</head>

<body class="bg-gray-300">
    <div class="text-center w-full font-serif lg:text-8xl text-4xl py-4">
        <a href="{% url 'core:home' %}" class="text-center font-black text-orange-950">
        Worm Books<br class="bg-orange-900">
        </a>
        <hr class="w-1/3 mx-auto">
    </div>
    {% block utils %}
    <div class="flex ml-4">
        {% if request.user.is_authenticated%}
        <div class="flow-root text-xs lg:text-lg text-white h-full align-middle w-full space-y-2 space-x-4 lg:px-12 px-2 py-2">
            <a href="{% url 'core:profile' request.user.username %}" class="align-middle p-2 font-bold bg-green-500 rounded-xl border-2 border-white float-left"> Dashboard </a>

            <a href="{% url 'core:notifications' %}" class="align-middle p-2 font-bold bg-green-500 rounded-xl border-2 border-white float-left">
                {% if unread_notifications > 0 %}
                    <div class="bg-red-400 inline rounded-full p-2" > {{ unread_notifications }} </div>
                {% endif %}
                notifications
            </a>
            
                <a href="{% url 'core:fyp' %}" class="align-middle p-2 font-bold bg-cyan-500 rounded-xl border-2 border-white float-left">
                    for you
                </a>

                <a href="{% url 'core:create_book' %}" class="align-middle p-2 font-bold bg-pink-400 rounded-xl border-2 border-white float-left">
                    recommend
                </a>

                <a href="{% url 'core:contribute' %}" class="align-middle p-2 font-bold bg-pink-400 rounded-xl border-2 border-white float-left">
                    contribute
                </a>

                
    
                <a href="{% url 'authapp:logout' %}" class="mr-6 align-middle p-2 font-bold bg-red-500 border-black text-white rounded-xl border-2 float-right sm:inline"> Logout </a>
        </div>
        {% else %}
        <div class="flow-root space-x-2 h-full align-middle w-full px-10 text-xs lg:text-lg">
            <a href="{% url 'authapp:login' %}" class="align-middle p-2 font-bold bg-green-500 rounded-xl border-2 float-left"> Login</a>
            <a href= "{% url 'authapp:signup' %}" class="align-middle p-2 font-bold bg-yellow-400 rounded-xl border-2 float-right"> Signup</a>
        </div>
        {% endif %}
    </div>
    {% endblock %}
    
    {% block navbar %}
    
    <nav class="px-6 lg:pt-4 pb-4 flex text-lg text-green-950 justify-center w-full contain-content lg:py-2" >
        <div class="lg:w-2/3 w-full">
            <div class=" text-white inline px-6 py-2 w-full justify-items-center lg:flex  text-xs lg:text-lg">
                <div class="lg:w-2/3 flex">
                    <form method="get" class="px-2 size-full" action="{% url 'core:home' %}">
                        <input type="text" placeholder="search by keywords or year" name="search" class="w-full bg-white border border-gray-800 text-black lg:p-4 p-2 rounded-xl mr-4">
                        <label for="search" class="font-serif"></label>
                        <button class="p-2 bg-blue-400 text-white border-2 border-white font-mono my-4 rounded-xl">search </button>
                    </form>
                </div>
                <div class="lg:w-1/3 w-full flow-root lg:px-6 px-2 mt-4">
                    <div class="lg:w-1/2 float-start text-left">
                        <a href="{% url 'core:home' %}" class="rounded-2xl bg-pink-400 p-4 border-2 border-white font-mono">
                            home
                        </a>
                    </div>
                    <div class="w-1/2 float-end text-right">
                        <a href="{% url 'core:categories' %}" class="rounded-2xl bg-pink-400 border-white font-mono p-4 border-2">
                            genres
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% endblock %}
    <main class="overflow-clip">
        {% block page_div %}
        <div class="p-4 text-white w-5/6 rounded-2xl mx-auto mb-4 lg:text-2xl sm:text-sm border-2 border-white bg-gray-500 text-center font-mono break-words">
            {% block page_name %} LATEST RECOMMENDATIONS {% endblock %}
        </div>
        {% endblock %}
        {% block content %}
        {% endblock %}
    </main>
</body>
<footer class="bg-gray-200">
    {% load static %}
    <div class="py-6 flow-root">
        <div class="lg:w-1/3 float-left">
            <hr>
            <table class="m-auto space-y-2 sm:text-lg">
                <header class="lg:text-3xl sm:text-lg mt-10 ml-5 font-bold mb-2">Contact the Dev ▼</header>
                <tr class="lg:h-20">
                    <td class="font-mono">Email- </td>

                    <td><a href="mailto:doobam007@gmail.com"><div><img src="{% static 'logos/email.png' %}" class="lg:h-10 h-5"></div></a></td>
                </tr>
                <tr class="lg:h-20">
                    <td class="font-mono">Linkedin- </td>

                    <td><a href="https://www.linkedin.com/in/victor-sunny-6b06ba220/"><div><img src="{% static 'logos/linkedin.png' %}" class="lg:h-10 h-5"></div></a></td>
                </tr>
                <tr class="lg:h-20">
                    <td class="font-mono">Github- </td>

                    <td><a href="https://github.com/victorsunny/"><div><img src="{% static 'logos/github.png' %}" class="lg:h-10 h-5"></div></a></td>
                </tr>
            </table>
        </div>
            <div class="float-right justify-between mt-14 lg:mr-12 mr-2">
                <hr>
                <div class="font-serif lg:text-xl sm:text-lg text-right">
                    <strong>Worm Books</strong><br>
                    Share<br>
                    Connect<br>
                </div>
                <hr>

            </div>
    </div> 
    <hr class="rule">
    <div class="text-center py-4">
        © Copyright {% now "Y" %}, <br> Worm Books.

    </div>
</footer>
</html>