{% extends 'base.html' %}
{% block title %} {{ data.name }} {% endblock %}

{% block page_name %} liked by {% endblock %}
{% block content %}

<div class="space-y-4 p-4 lg:w-2/3 justify-center lg:mx-auto">
    {% for worm in data %}
     <div class="size-full flex space-x-6 border border-white rounded-2xl">
        <div class="p-1 size-4/6 break-words font-mono px-4 float-left rounded-2xl hover:bg-gray-700">
            <a href="{% url 'core:profile' worm.username %}" class="size-full block hover:text-white">
                @{{ worm.username }}
            </a>
        </div>

        <div class="text-center text-sm lg:text-xl float-right size-2/5 p-2">
                {% if request.user == worm %}
                    {{pass}}
                {% elif request.user not in worm.followers.all %}
                    <a href="{% url 'core:follow' worm.username %}" class="bg-green-300 text-white hover:bg-green-500 border-2 rounded-2xl px-2 my-auto"> follow </a>
                {% else %}
                    <a href="{% url 'core:follow' worm.username %}" class=" bg-amber-300 text-white hover:bg-amber-500 border-2 rounded-2xl px-2 my-auto"> unfollow </a>
                {% endif %}
            </div>
     </div>
    {% endfor %}
    </div>
    {% if data.has_other_pages %}
    <div class="w-full p-2 justify-items-center">
        <div class="p-4 bg-white text-black border border-black">
            {{ data.number }} of {{ total }}
        </div>
        <div class="w-1/2 justify p-1 justify-between inline-flex space-x-10">
            {% if data.has_previous %}
            <form method="get" action="." class="">
                <input type="hidden" name="page" value="{{data.previous_page_number}}"></input>
                <button class="px-10 py-2 bg-white text-black border border-black">
                    prev
                </button>
            </form>
            {% endif %}
            {% if data.has_next %}
            <form method="get" action="." class="">
                <input type="hidden" name="page" value="{{data.next_page_number}}"></input>
                <button class="px-10 py-2 bg-white text-black border border-black">
                    next
                </button>
            </form>
            {% endif %}
        </div>
    </div>
    {% endif %}

{% endblock %}